@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
    font-family: 'Roboto';
}

body {
    background-color: #69b0db;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.line {
    width: 80%;
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.line:first-of-type {
    border-radius: 50px 50px 0 0;
    margin-top: 50px;
}

.line:last-of-type {
    border-radius: 0 0 50px 50px;
    margin-bottom: 50px;
}

.data {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    text-align: center;
}